@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.primary-text-color {
  color: #00A5E0;
}

.primary-bg-color {
  background: #00A5E0;
}

.secondary-text-color {
  color: #EF9CDA;
}

.secondary-bg-color {
  background: #C2E3DB;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ensures the Google Drive Picker modal appears above other modals */
.google-picker-dialog {
  z-index: 1050 !important; /* Ensures it is above other modals */
}
